$c-orange: #EF4C00;
$c-red: #B30733;
$c-light-blue: #F4F9FF;
$c-dark-blue: #2E4765;

body{

}

a,a:hover,a:active,a:focus{
  text-decoration: none;
  coler: unset;
}

.fa{
  position: relative;
  top: 2px;
}

section{
  margin-bottom: 2em;
}

.section-title{
  display: flex;
  align-items: center;
  margin: 1em 0 1.5em 0;

  h3{
    padding-right: .5em;
    color: $c-red;
  }

  span{
    width: 100%;
    height: 2px;
    background: #4442;
  }
}

.title-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;

  h3{
    color: $c-red;
  }

  .options{
    display: flex;
    align-items: center;
    position: relative;

    .search{
      position: relative;
      margin-right: 1em;

      input{
        background-color: $c-light-blue;
        border: none;
        border-radius: 30px;
        width: 21em;
        font-size: .9em;
        padding: 1.6em;

      }
      i{
        position: absolute;
        top: .6em;
        right: .7em;
        font-size: 1.3em;
        color: $c-red;
        cursor: pointer;
      }
    }

    button{
      border-radius: 30px;
      background: $c-orange;
      color: white;
      font-size: 1.3em;
    }

    .options-box{
      position: absolute;
      left: 104%;
      width: 15em;
      .box{
        color: $c-dark-blue;
        box-shadow: 0 0 7px #4441;
        border-radius: 1.3em;
        text-align: center;
        margin-bottom: 1em;
        overflow: hidden;

        h5{
          font-weight: 400;
          width: 7em;
          margin: auto;
          padding: 1em 0;
        }

        .time{
          font-size: 1.5em;
          span{
            font-size: 2em;
            font-weight: 700;
            color: $c-orange;
          }
          i{
            color: $c-orange;
            position: relative;
            bottom: 1em;
            font-weight: 500;
          }
        }

        img{
          width: 100%;
          padding: 0 1em;
        }

        h6{
          text-align: left;
          padding: 1em;
        }

        .Cusine{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          list-style: none;
          padding: 0 .5em;
          li{
            flex-basis: 42%;
            display: inline-block;
            font-size: .9em;
            color: #2E4765;
            border-radius: 20px;
            text-align: left;
            padding: .3em .8em .4em .8em;
            margin-right: .5em;
            margin-top: .5em;
            cursor: pointer;

            &.active{
              background-color: $c-orange;
              color: white;
            }
          }
        }

        .select{
          height: 8em;
          background-image: url("../img/food-4.png");
          background-size: 150%;
          background-repeat: no-repeat;
          background-position: center top;

          button{
            font-size: 1em;
            padding: .4em 2em;
            position: relative;
            top: 3em;
            background-color: $c-red;
          }
        }
      }
    }
  }
}

.category{
  margin-bottom: 1.5em;
  ul{
    list-style: none;
    display: flex;
    padding: 0;
    li{
      display: inline-block;
      background-color: $c-light-blue;
      color: $c-dark-blue;
      border-radius: 20px;
      padding: .4em 1.5em;
      margin-right: .3em;
      cursor: pointer;

      &.active{
        background-color: $c-orange;
        color: white;

      }

      i{
        padding-right: .3em;
        font-size: 1.2em;
      }
    }
  }
}









nav{
  .container{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #4442;

    .main-content{
      display: flex;
      flex-grow: 20;
      padding-top: 1.5em;



      .brand-icon{
        flex-grow: 3;
        padding: .5em 0;
        img{
          width: 10em;
        }
      }

      .menu-items{
        flex-grow: 8;
        text-align: center;

        ul{
          margin: 0;
          height:100%;
          cursor: pointer;

          li{
            height:100%;
            position: relative;
            padding: 0 .5em;
            margin: 0 .5em;


            &.active:after{
              content: "";
              background-color: $c-orange;
              border-radius: 2px;
              position: absolute;
              bottom: -3px;
              right: 0;
              left: 0;
              width: 100%;
              height: 4px;
            }

            a{
              height:100%;
              display: flex;
              align-items: center;
              color: #2E4765;
            }
          }
        }
      }

      .user-img{
        flex-grow: 1;
        align-items: center;
        justify-content: center;

        img{
          width: 2.6em;
          height: 2.6em;
        }
      }
    }

    .cart{
      flex-grow: 1;
      padding-top: 1.5em;
      border-left: 2px solid #4442;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-cart{
        background-color: $c-orange;
        color: white;
        border-radius: 30px;
        padding: .4em .7em;
        margin-left: 1em;

        i{
          font-size: 1.3em;
          display: inline-block;
        }

        span{
          display: inline-block;
          font-size: .9em;
          margin-bottom: .2em
        }
      }














    }


  }
}

section.banner-top{
  .daily-quote{
    position: relative;
    p{
      padding: 1.5em 1.5em;
      font-size: 2.3em;
      position: relative;

      &:before{
        content: '"';
        position: absolute;
        left: .4em;
        top: .9em;
        font-size: 1.3em;
        font-family: cursive;
        font-style: italic;
      }

      &:after{
        content: '"';
        position: absolute;
        right: .5em;
        bottom: .3em;
        font-size: 1.3em;
        font-family: cursive;
        font-style: italic;
      }
    }
    small{
      font-size: 1.5em;
      font-weight: 700;
      color: #ef4c00;
      position: absolute;
      right: 3em;
      bottom: .5em;
    }
  }

  .banner{
    background-image: url("../img/banner.png");
    background-size: cover;
    padding: 3em;
    border-radius: 1.5em;
    color: white;
    p{
      width: 8em;
      font-size: 3em;
      font-weight: 600;
    }
    .download-links{
      a{
        display: inline-block;
        margin-right: .6em;
      }
    }
  }
}

section.product{
  .products-list{
    .product-box{
      display: inline-block;
      cursor: pointer;
      border-radius: 1.5em;
      overflow: hidden;
      border: 1px solid #4442;
      margin-bottom: .5em;

      &:hover{
        .img{
          img{

            width: 105%;
          }
        }
      }


      .img{
        height: 10em;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 100%;
          transition: .4s;
        }
      }

      .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;

        h6{
          font-size: 1.1em;
          color: $c-red;
          font-weight: 400;
          margin: 0;
        }

        i{
          color: $c-orange;
          font-size: 1.2em;
        }
      }

      .rate{
        padding: 0 1em;
        display: flex;
        align-items: center;
        margin-bottom: .5em;
        .stars{
          background-repeat: no-repeat;
          background-size: 97%;
          height: 1.3em;
          width: 6.5em;
          background-image: url("../img/stars.png");
          margin-right: 1em;
          span{
            background-repeat: no-repeat;
            background-size: cover;
            width: 60%;
            display: inline-block;
            height: 100%;
            background-image: url("../img/stars-2.png");
          }
        }

        span{
          font-size: .9em;
          color: #999;
        }
      }

      .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .8em 1em;
        font-size: .85em;
        ul{
          list-style: none;
          padding: 0;
          margin: 0;
          li{
            display: inline-block;
            background-color: $c-light-blue;
            color: $c-dark-blue;
            border-radius: 20px;
            padding: .4em 1.5em;
            margin-right: .3em;
            cursor: pointer;
          }
        }
      }
    }
  }


















}
